{% extends 'flatpages/default.html' %}

{% load d36_filters %}
{% load i18n %}

{% block content %}

<td><h1>{{ new1.title|censor }}</h1></td>
<td>
    {% if new1.post_category.all %}
        {% translate "Category" %}:
        {% endif %}
{% for cat in new1.post_category.all %}
    <a href="{% url 'category_list' cat.id %}">{{ cat.name }}</a>
    {% endfor %}
</td>
<br>
<h4>
{{ new1.time_add|date:'d M Y' }}
{{ new1.time_add|time }}
</h4>
<br>
<td>{{ new1.text|censor}}</td>
<br>
{% if perms.news.delete_post %}
    <td><a href="{{new1.get_absolute_url}}/delete">{% translate "Delete" %}</a></td>
{% endif %}
{% if perms.news.change_post %}
    <td><a href="{{new1.get_absolute_url}}/update">{% translate "Edit" %}</a></td>
{% endif %}
{% endblock content %}
